<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Babylon.js Editor</title>

    <script src="./node_modules/es6-promise/dist/es6-promise.auto.js" type="text/javascript"></script>
    <script src="./node_modules/systemjs/dist/system.src.js" type="text/javascript"></script>

    <script src="./node_modules/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="./node_modules/w2ui/w2ui.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="./node_modules/w2ui/w2ui.css" />
    <link rel="stylesheet" type="text/css" href="./node_modules/jstree/dist/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/editor.css" />

</head>
<body>
    <div id="LOADING-DIV" style="width: 100%; height: 100%;"></div>
    <script type="text/javascript">
        window.token = '{{token}}';
        window.hash = '{{hash}}';
        System.config({
            paths: {
                "babylonjs": "./node_modules/babylonjs/babylon.max.js",
                "babylonjs-gui": "./node_modules/babylonjs-gui/babylon.gui.min.js",
                "babylonjs-materials": "./node_modules/babylonjs-materials/babylonjs.materials.js",
                "babylonjs-loaders": "./node_modules/babylonjs-loaders/babylonjs.loaders.js",
                "babylonjs-serializers": "./node_modules/babylonjs-serializers/babylonjs.serializers.js",
                "babylonjs-procedural-textures": "./node_modules/babylonjs-procedural-textures/babylonjs.proceduralTextures.js",
                "babylonjs-post-process": "./node_modules/babylonjs-post-process/babylonjs.postProcess.js",
                "babylonjs-node-editor": "./node_modules/babylonjs-node-editor/babylon.nodeEditor.max.js",
                "cannon": "./node_modules/cannon/build/cannon.js",
                "spectorjs": "./node_modules/spectorjs/dist/spector.bundle.js",
                "dat-gui": "./node_modules/dat.gui/build/dat.gui.js",
                "raphael": "./node_modules/raphael/raphael.js",
                "socket.io-client": "./node_modules/socket.io-client/dist/socket.io.js",
                "earcut": "./node_modules/earcut/dist/earcut.min.js",
                "oimo": "./node_modules/babylonjs/Oimo.js",
                "jstree": "./node_modules/jstree/dist/jstree.js",
                "golden-layout": "./node_modules/golden-layout/dist/goldenlayout.js",
                "javascript-astar": "./node_modules/javascript-astar/astar.js",
                "typescript": "./node_modules/typescript/lib/typescript.js",
                "litegraph.js": "./node_modules/litegraph.js/build/litegraph.js",

                // Editor's modules paths
                "babylonjs-editor": "./build/src/index.js",
                "babylonjs-editor-extensions": "./build/src/extensions/index.js",
                "animation-editor": "./build/src/tools/animations/editor.js",
                "material-viewer": "./build/src/tools/materials/viewer.js",
                "behavior-editor": "./build/src/tools/code-behavior/code.js",
                "graph-editor": "./build/src/tools/graph-behavior/graph.js",
                "texture-viewer": "./build/src/tools/textures/viewer.js",
                "material-editor": "./build/src/tools/material-editor/index.js",
                "post-process-editor": "./build/src/tools/post-process-editor/index.js",
                "play-game": "./build/src/tools/play-game/index.js",
                "path-finder": "./build/src/tools/path-finder/index.js",
                "particles-creator": "./build/src/tools/particles-creator/index.js",
                "metadatas": "./build/src/tools/metadata/editor.js",
                "notes": "./build/src/tools/notes/notes.js",
                "prefab-editor": "./build/src/tools/prefabs/editor.js",

                "post-processes": "./build/src/extensions/post-process/post-processes.js"
            },
            packages: {
                "./build/src/": {
                    defaultExtension: "js"
                },
                "./node_modules/babylonjs-loaders/": {
                    main: "babylonjs.loaders.js",
                    format: "global"
                }
            },
            map: {
                css: "./node_modules/systemjs-plugin-css/css.js"
            },
            meta: {
                "*.css": { loader: "css" },
                "cannon": { format: "global" },
                "javascript-astar": { format: "global" },
                "typescript": { format: "global", exports: "ts" },
                "litegraph.js": { format: "global" }
            },
            pluginFirst: true
        });

        // Define modules
        System.set('jquery', System.newModule({ __useDefault: $ }));

        // Lock and import
        var loadingDiv = document.getElementById('LOADING-DIV');
        w2utils.lock(loadingDiv, 'Loading Editor...', true);

        System.import("babylonjs-editor").then(function (e) {
            // Unlock and remove loading div
            w2utils.unlock(loadingDiv);
            loadingDiv.remove();

            // Run editor
            var editor = window.editor = new e.default();
            editor.run();
        });
    </script>

    <!-- REQUIRE MONACO EDITOR -->
    <script src="./node_modules/monaco-editor/min/vs/loader.js" type="text/javascript"></script>
    <script type="text/javascript">
        require.config({ paths: { "vs": "./node_modules/monaco-editor/min/vs" }});
        require(["vs/editor/editor.main"], function() {
            // Empty
		});
    </script>
</body>
</html>
